{% extends 'base.html' %}
{% load static %}

{% block page %}

<h2>Oversigt over deltagere {{day}}</h2
<div class="table-responsive">
  <table class="table table-bordered table-light table-striped table-sm">
    <thead>
      <tr class="table-primary">
        <th>Dato</th>
        {% for d in dates %}
        <th class="center">{{d| date:"l j/n"}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for d in deltagere %}
      <tr>
        {% for e in d %}
        {% if forloop.counter0 == 0 %}
        <th>{{e}}</th>
        {% else %}
            <td>
              {% if e > 0 %}
                <img src="{% static 'pic/green_tick.png' %}" alt="kommer" width="35" height="35"/>
              {% elif e == 0 %}
                
              {% elif e == -1 %}
                <img src="{% static 'pic/status_1.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% elif e == -2 %}
                <img src="{% static 'pic/status_2.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% elif e == -3 %}
                <img src="{% static 'pic/status_3.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% else %}
              value error {{e}}
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        {% for e in total %}
          <th>{{e}}</th>
        {% endfor %}
      </tr>
    </tfoot>
  </table>

  {%endblock %}

  {% block script %}
  <script>
    $("#{{weekday}}").addClass("active");
  </script>
  {% endblock %}