{% extends 'base.html' %}
{% load static %}

{% block page %}
<style>

{% comment %} .table-striped>tbody>tr:nth-child(odd)>td{ {% endcomment %}
.afbud {
  background-color: red !important;
  }
  .kommera {
    background-color: green !important;
  }
</style>
<h1>Oversigt</h1>
{{ statuspic}} {{statuspic.1}}
<div class="table-responsive">
  <table class="table table-bordered table-light table-striped">
    <thead>
      <tr class="table-primary">
        <th>Dato</th>
        {% for d in dates %}
        <th class="center">{{d| date:"l j/n"}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for l in liste %}
      <tr>
        <th>{{ l.0 }}</th>
        {% for e in l %}
          {% if forloop.counter != 1%}
            <td>
              {% if e > 0 %}
                <img src="{% static 'pic/green_tick.png' %}" alt="kommer" width="20" height="20"/>
              {% elif e == -1 %}
                <img src="{% static 'pic/status_1.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% elif e == -2 %}
                <img src="{% static 'pic/status_2.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% elif e == -3 %}
                <img src="{% static 'pic/status_3.png' %}" alt="Kommer ikke {{e}}" width="35" height="35"/>
              {% else %}
              -1
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
      </tr>
    </tfoot>
  </table>

  {%endblock %}

  {% block script %}
  <script>
    $("#oversigt").addClass("active");
  </script>
  {% endblock %}